
body {background: url('images/bg.jpg');}
h1 { line-height: 70px;}
h1 { color: #000; text-shadow: 2px 4px 3px rgba(0,0,0,0.3); top: 0;}


.btn-primary,.btn-danger{
	background-color: #2685B1;
	background-image: none;
}
.btn-danger { background-color: #E05550;}

.btn-primary:hover {
	background-color: #C2509B;
}
.hero-unit { padding-top: 30px;}
.hero-unit h1 { margin-bottom: 15px;}
ul.nav ul li.active a,ul.nav ul li:hover a{ margin-right: -30px;}
li a:hover i,li.active a i {background-image: url("images/glyphicons-halflings.png");}

.alert { position: relative;}
.alert.alert-success p { width: 95%;}
.no-overflow { overflow-x: hidden;}
.approve-panel { margin-right: 15px; }

.bottom-panel { margin-top: 25px;}

/**************************
ORIGO STRANKY
***************************/


/* Large desktop */
@media (min-width: 1200px) { 
	
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
	body { padding: 0;}
	.hero-unit h1 { font-size: 50px;}
	#main-wrapper p { font-size: 16px;}
}

@media (min-width: 768px) and (max-width: 1382px) { 
	#main-wrapper p { font-size: 16px;}
	.hero-unit p { font-size: 18px !important;}

}
@media (min-width: 768px) and (max-width: 887px) { 

}


@media (min-width: 768px) and (max-width: 979px) { 
	#main li { font-size: 16px;}


}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#login-container { border-radius: 0px; }
	#main-wrapper p { font-size: 14px;}
	#main h2 { font-size: 20px}
	#main li { font-size: 14px;}



}
@media (max-width: 567px) {
	.hero-unit { padding: 20px;}
	.hero-unit h1 { font-size: 35px;}
	.hero-unit strong { font-size: 14px; line-height: 18px;}
	.pull-right { float: none;}
	.pull-left { float: none;}
	small.pull-right { display: block; margin-top: 15px;} 
	#input-confession-wrapper { width: 100%; overflow-x: hidden;}
	#input-hashtag-wrapper a { padding: 15px 0px;}
	


}
/* Landscape phones and down */
@media (max-width: 480px) { 
}


